<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue.min.js"></script> 
    <script src="./js/vue-resource.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/myIndex.css">
    <title>Vue Todo List</title>
</head>
<body style="color:rgb(100,100,100)">
	<div class="container text-center"id="app">
		<h3>Vue Todo List</h3>
		<div class="top"><input type="text"class="input-group"v-model="todo"placeholder="请输入:"><input type="button"class="btn btn-success"value="Submit"@click="pushData(todo)"></div>
		<div class="todo_item"v-for="item in items">
			<p>{{item.id}}{{item.title}}</p><p>time</p>
			<input type="button"class="btn btn-success"value="完成"@click="moveData(item)">
			<input type="button"class="btn btn-danger"value="删除"@click="deleteData(item)">
			</div>
	</div>
	<script>
		var vm=new Vue({
			el:'#app',
			data:{
				todo:'',
				items:[],
				value:1,
			},
			methods:{
				pushData:function(){
					if(this.todo==''){
						alert('输入内容不能为空！');
					}
					else{
						this.items.push({
							title:this.todo,
							id:this.items.length+1
						})
					}
					this.todo=''
				},
				deleteData:function(todo){
                   var index = this.items.indexOf(todo)
					this.items.splice(index,1)
				}
			},
			change:function(index){
				for(var i=index;i>=index;i++){
					
				}
			}
			
		})
	</script>
</body>
</html>